/* Acess id */
#myHeading{
    font-size:100px;
}

/* Access class */
.center{
    text-align:center;
    color: crimson;
}

/* Access every element - Can be overwritten by a specific element */
/* *{
    text-align: start;
    color:blue;
    font-size: 50px;
} */

/* Descendant = all descendants will be styled (a child of) */
ol li{
    color:magenta;
}

/* Child selector = > - any DIRECT child will be styled */
div > h1 {
    color:brown
}

/* Adjacent selectors = +  siblings will be styled. */
ol + p {
    color:red;
}

/* Preceding siblings - match ALL siblings of a selected element = ~  */
h3 ~ p{
    color: blue;
}